<div class="top">
  <div class="top_main"></div>
    <div class=area_choice>
      <div class="osusume_title">
        <p class="is-size-3 has-text-centered has-text-weight-semibold">オススメスポット</p>
        <p class="is-size-4 has-text-centered has-text-weight-medium">アクセス、立地などから激選したスポット</p>
      </div>
        <ul class="osusume_spot">
          <li class="osusumelist Miyako">
            <a class="osusume_area1" href="#">
              <%= image_tag('320.png') %><br>
              <strong>東京</strong>
              <p>立ち並ぶオフィス。溢れる人</p>
            </a>
          </li>

          <li class="osusumelist Oshima">
            <a class="osusume_area2" href="#">
              <%= image_tag('320.png') %><br>
                  <strong>埼玉</strong>
                <p>都会の喧騒から離れた、隠れスポット。</p>
            </a>
          </li>

          <li class="osusumelist Yakushima">
            <a class="osusume_area3" href="#">
              <%= image_tag('320.png') %><br>
              <strong>北海道</strong>
              <p>本州のざわめきから解き放たれたいあなたへ。</p>
            </a>
          </li>
        </ul>
  </div>
</div>
