<div class="top">
  <div class="top_main">
  </div>
  <div class="form_fream">
    <div class="form_area">
    <p>お部屋を検索</p>
    <%= render '/shared/form' %>
    </div>
  </div>
  <div class=area_choice>
  <div class="osusume_title">
    <h2>オススメスポット</h2>
    <p>アクセス、立地などから激選したスポット</p>
  </div>
  <ul class="osusume_spot">
    <li class="osusumelist Miyako">
      <a class="osusume_area1" href="#">
        <%= image_tag('320.png') %>
        <h3>宮古島</h3>
        <p>島。</p>
      </a>
    </li>

    <li class="osusumelist Oshima">
      <a class="osusume_area2" href="#">
        <%= image_tag('320.png') %>
        <h3>伊豆大島</h3>
        <p>島。</p>
      </a>
    </li>

    <li class="osusumelist Yakushima">
      <a class="osusume_area3" href="#">
        <%= image_tag('320.png') %>
        <h3>屋久島</h3>
        <p>島。</p>
      </a>
    </li>
  </ul>
</div>
</div>
