table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

// header {
//   background: black;
//   color: #fff;
//   width: 100%;
//   height: 50px;
//   padding: 10px 0px;
//   font-size: auto;
// }

footer {
  position: absolute;
  background-color: black;
  padding-bottom: 40px;
  width: 100%;
  height: 30px;
}

.footer_container {
  position: relative;
  box-sizing: border-box;
  min-height: auto;
}

.Footer_copy {
color: #fff;
text-align: center;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.rogo {
  width: 100px;
  height: 50px;
  display: flex;
  margin-top: 10px;
}

.top .top_main {
  background-image: url(umi0097-024.jpg);
  background-size: cover;
  width: 100%;
  height: 650px;
}

.area_choice {
  margin-left: 150px;
  margin-right: 150px;
}

.osusume_title {
margin: 0 30px;
}

.osusume_spot {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.osusumelist {
  margin: 0px 30px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  margin: 0 36px 0 36px;
  max-width: 100%;
  position: relative;
}

.header_nav_list {
  display: flex;

}

.header_nav_list li {
  display: flex;
}

.header_nav_list img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user_info {
  align-items: center;
}

span {
  color: #fff;
}

.buttons {
  margin: 10px;
}

.button {
  margin: 0px 10px;
  padding: 10px;
  background-color: #fff;
}

.button {
margin: 0px;
}

.top_title {
  text-align: center;
  font-size: 40px;
}
